<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des annonces</title>
</head>
<body>
    <h1>Dernières annonces</h1>

    <p>
        To be continued ...
    </p>

    <p>
        <em>Vous êtes sur la page {{ page }}</em>
    </p>
</body>

<footer>{{ webmaster }} - {{ "now"|date('Y') }}</footer>
</html>