{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    <p>
        Notre plateforme est un peu vide ... mais ca va viendre !!!
    </p>
    <p>
        <em>Vous êtes sur la page {{ page }}</em>
    </p>
{% endblock %}