<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Affichage de l'annonce {{ id }}</title>
</head>
<body>
    <h1>Annonce n°{{ id }}</h1>

    <div>
        {# On affiche tous les message Flash dont le nom est 'info' #}
        {% for message in app.flashes('info') %}
            <p>Message flash : {{ message }}</p>
        {% endfor %}
    </div>

    <p>
        Ici le corps de l'annonce d'id : {{ id }}.<br />
        Mais pour l'instant, on sait pas faire, donc on verra après :)
    </p>
</body>
</html>